body {
  text-align: center;
  background-color: lightgrey;
}

.croissant {
  max-width: 65%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

h1 {
  color: black;
}

footer {
  display: block;
}

footer a {
  margin: 0 15px;
  color: yellow;
}
